@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__top {
  border-bottom: 1px solid  #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.header__middle {
  padding: 44px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__item {
  margin-right: 33px;
}

.contact__item:last-child {
  margin-right: 0;
}

.contact__link {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
  font-style: normal;
  color: #151515;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__link:hover {
  color: #6a983c;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 38px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 16px;
  font-style: normal;
  color: #6a983c;
  cursor: pointer;
}

.search-bar {
  padding: 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
  max-height: 42px;
  border-radius: 12px;
}

.search-bar__list {
  max-height: 23px;
}

.search-bar__list.is-active li {
  display: block;
}

.search-bar__item {
  display: none;
}

.search-bar__title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 23px;
  font-style: normal;
  position: relative;
  cursor: pointer;
}

.search-bar__title img {
  position: absolute;
  max-width: 16px;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-bar__input {
  padding: 5px 0 5px;
  margin-left: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  border-left: 1px solid #d1d1d1;
  min-width: 230px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 19px;
  font-style: normal;
}

.search-bar__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__btn {
  margin-left: 12px;
  border: none;
  outline: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.categories-menu__link {
  color: #6a983c;
  margin-bottom: 15px;
}

.categories-menu__list {
  margin: 15px;
}

.categories-menu__item {
  margin-bottom: 12px;
}

.categories-menu__title {
  margin-bottom: 16px;
}

.categories-menu__btn {
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 22px;
  font-style: normal;
  margin-top: 60px;
  background-color: #d1d1d1;
  border-radius: 12px;
  padding: 15px;
  border: none;
  outline: none;
}

.card-1 {
  position: relative;
  width: 420px;
  height: 280px;
}

.card-1__img {
  position: relative;
}

.card-1__subtitle {
  position: absolute;
  top: 50%;
  left: 0;
  color: #6a983c;
}

.card-1__title {
  position: absolute;
  top: 50%;
  left: 0;
}

.card-1__btn {
  position: absolute;
  top: 50%;
  left: 0;
}

.img__header {
  margin-left: 15px;
  position: relative;
}

.img__icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 50%;
  padding: 12px;
  width: 15px;
  height: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-2 {
  position: relative;
  width: 420px;
  height: 280px;
}

.card-2__img {
  position: relative;
}

.card-2__subtitle {
  position: absolute;
  top: 50%;
  left: 0;
  color: #6a983c;
}

.card-2__title {
  position: absolute;
  top: 50%;
  left: 0;
}

.card-2__btn {
  position: absolute;
  top: 50%;
  left: 0;
}

.col-4 {
  width: 25%;
}

.col-3 {
  width: 33.33%;
}

.dropdown__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 54px;
  background-color: #d1d1d1;
  border-radius: 12px;
  padding: 10px;
}

.dropdown__title {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 22px;
  font-style: normal;
  margin-right: 54px;
  background-color: #d1d1d1;
  border-radius: 12px;
  padding: 10px;
}
